name: alerting test failures

on:
  workflow_dispatch: # manual trigger

jobs:
  diqu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: pip install diqu "snowflake-connector-python[pandas]"

      - name: Preflight misc
        run: |
          mkdir ~/.dbt
          cp misc/alert.profiles.yml ~/.dbt/profiles.yml

      - name: Alert to Slack & JIRA
        run: diqu alert --to slack --to jira --query-database MINHNGO_DEV_DATABASE --query-schema DIQU_DEV_AUDIT
        env:
          DBT_ENV_SECRET_SNOWFLAKE_PASSWORD: "${{ secrets.SNOWFLAKE_PASSWORD }}"
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
          JIRA_SERVER: ${{ secrets.JIRA_SERVER }}
          JIRA_AUTH_USER: ${{ secrets.JIRA_AUTH_USER }}
          JIRA_AUTH_PASSWORD: ${{ secrets.JIRA_AUTH_PASSWORD }}
          JIRA_PROJECT_ID: ${{ secrets.JIRA_PROJECT_ID }}

